
<!--Top#index-->
<h1>Bookshelf Poster</h1>
<p>お気に入りの本を集めた自分だけの本棚を作ってポスターに</p>
<div id = "contents">
  <div id ="shelf_out">
    <div id ="shelf_in">
      <div class ="books">
        <%=@book%>
      </div>
      <div class ="books">
        <%=@book%>
      </div>
    </div>
  </div>
  <div id ="book_list">
  </div>
</div>
